<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
	  <typeAlias alias="Author" type="com.brickjs.entity.Author"/>
	  <typeAlias alias="Meet" type="com.brickjs.entity.Meet"/>
	  <typeAlias alias="Theme" type="com.brickjs.entity.Theme"/>
	  <typeAlias alias="User" type="com.brickjs.entity.User"/>
	</typeAliases>
	
</configuration>