<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 基本设置 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- 别名 -->
	<typeAliases>
	  <typeAlias alias="Speaker" type="com.hailooo.entity.Speaker"/>
	  <typeAlias alias="Meet" type="com.hailooo.entity.Meet"/>
	  <typeAlias alias="Theme" type="com.hailooo.entity.Theme"/>
	  <typeAlias alias="User" type="com.hailooo.entity.User"/>
	</typeAliases>
	
	<!-- 插件配置 -->
	<plugins>
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">
	    	<property name="reasonable" value="true"/>
		    <property name="supportMethodsArguments" value="true"/>
	        <property name="params" value="pageNum=page;pageSize=pageSize;"/>
	        <property name="pageSizeZero" value="true"/>
		</plugin>
	</plugins>
	
</configuration>